<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.saswatas.ha-tunnel</string>
    <key>ProgramArguments</key>
    <array>
        <string>__RUN_DIR__/ha-tunnel.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__RUN_DIR__/logs/ha-tunnel.log</string>
    <key>StandardErrorPath</key>
    <string>__RUN_DIR__/logs/ha-tunnel.err</string>
</dict>
</plist>
